#gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-right: 25%;
}

.item {
  height: 40vh;
  flex-grow: 1;
}

.item:last-child {
  flex-grow: 10;
}

.item img {
  object-fit: cover;
  max-height: 100%;
  min-width: 100%;
  vertical-align: bottom;
}

span {
  display: inline-block;
  color: blue;
}

.ds-selected {
  background-color: red;
  color: red;
  outline: 3px solid red;
  outline-offset: 3px;
  font-weight: bold;
}

.searchbar {
  width: 25%;
  right: 0;
}

.tags div {
  min-height: 500px;
}

div + div { margin-top: 10px; }
