<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="my.js" type="module"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="w3-sidebar w3-bar-block" style="width:25%;right:0">
      <form id='form-include-tags'>
        <label> Tags to include:
          <input type="text" id='form-include-tags-field' name="include-tags" />
        </label>
        <input type="submit" />
      </form>
      <div id="include-tags"></div>
      <form>
        <label> Tags to exclude:
          <input type="text" name="exclude-tags" />
        </label>
        <input type="submit" />
      </form>
      <div id="exclude-tags"></div>
      <div id="all-tags">
      </div>
      <div id="common-tags">
      </div>
    </div>
    <div id="gallery" style="margin-right:25%">
    </div>
  </body>
</html>
