<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="my.js" type="module"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="w3-sidebar w3-bar-block" style="width:25%;right:0">
      <div>
        <button id="btn-get-tags" type="button">getTags</button>
        <button id="btn-get-images" type="button">getImages</button>
      </div>
      <form id='form-include-tags'>
        <label> Tags to include:
          <input type="text" id='form-include-tags-field' name="include-tags" />
        </label>
        <input type="submit" />
      </form>
      <div id="include-tags"></div>
      <form>
        <label> Tags to exclude:
          <input type="text" name="exclude-tags" />
        </label>
        <input type="submit" />
      </form>
      <div id="exclude-tags"></div>
      <div id="all-tags">
        <p>All tags:</p>
      </div>
      <div class="container-lg p-responsive advanced-search-form">
        <fieldset class="pb-3 mb-4 border-bottom color-border-muted min-width-0">
          <h3>Advanced options</h3>
          <dl class="form-group flattened d-flex d-md-block flex-column">
            <dt><label for="all_include_tags">ALL of these tags</label></dt>
            <dd><input id="all_include_tags" type="text" class="form-control js-advanced-search-prefix"
              placeholder="outdoors" data-search-prefix="all_include_tags:"></dd>
          </dl>
          <dl class="form-group flattened d-flex d-md-block flex-column">
            <dt><label for="any_include_tags">ANY of these tags</label></dt>
            <dd><input id="any_include_tags" type="text" class="form-control js-advanced-search-prefix"
              value="" placeholder="mine" data-search-prefix="repo:"></dd>
          </dl>
          <dl class="form-group flattened d-flex d-md-block flex-column">
            <dt><label for="exclude_tags">None of the tags</label></dt>
            <dd><input id="exlude_tags" type="text" class="form-control js-advanced-search-prefix" value="" placeholder=">YYYY-MM-DD, YYYY-MM-DD" data-search-prefix="created:"></dd>
          </dl>
        </fieldset>
      </div>
    </div>
    <div id="gallery" style="margin-right:25%">
    </div>
  </body>
</html>
