body {
  background: FloralWhite;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 3.375rem;
  background-color: white;
}

.navigation {
  align-items: center;
  justify-items: center;
  column-gap: 1rem;
  display: grid;
  grid-template-columns: min-content 1fr min-content min-content;
  height: 66px;
}

.gallery {
  gap: 1em;
  margin-right: 25%;
  display: flex;
  flex-wrap: wrap;
}

.swiper_gallery {
  margin-right: 25%;
}

.swiper_gallery img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  max-height: 90vh;
  overflow: clip;
}

.item {
  height: 40vh;
  flex-grow: 1;
}

.item:last-child {
  flex-grow: 10;
}

.item img {
  object-fit: cover;
  max-height: 100%;
  min-width: 100%;
  vertical-align: bottom;
}

span {
  display: inline-block;
  color: blue;
}

.ds-selected {
  background-color: red;
  color: red;
  outline: 3px solid red;
  outline-offset: 3px;
  font-weight: bold;
}

.searchbar {
  width: 25%;
  right: 0;
  height:100%;
  position:fixed!important;
  z-index:1;
  overflow:auto;
}

.tagbox {
  margin: 15px;
}

div + div { margin-top: 10px; }

.deleteme {
  color: red;
}

.selected-image {
  outline-offset: 3px;
  outline: 3px solid red;
}

.react-photo-album--link:focus-visible,
.react-photo-album--button:focus-visible {
  outline-offset: 0px;
  outline: 0px solid white;
  box-shadow: 0 0 0 0px white;
}
